/*!
 * Insurgency Events
 */

 /* Main */
body {
	font-family: 'Open Sans', sans-serif;
	background-image: url('../img/mooning.png');
	background-repeat: repeat;
}

footer {
	color: #FFFFFF;
	background-color: #4F4F4F;	background-image: url('../img/navy_blue.png');
	background-repeat: repeat;	
	height: 50px;
	text-align: center;
	padding-top: 30px;
}

/* Header */

.navbar-fixed-top { position: absolute!important; }

.NavBarRight {
	padding-top: 10px;
}

.header {
	background: #125293 url(../img/header-bg.png) repeat-x;
	height: 130px;
	position: relative;
	z-index: 3;
}

.wrap {
	width: 930px;
	margin: 0 auto;
	text-align: left;
}

/* Header */
#header {
	position: relative;
	height: 130px;
}

#header_logo {
	width: 400px;
	height: 50px;
	position: absolute;
	top: 17px;
	left: -11px;
}

#header_search {
	position: absolute;
	right: 0;
	top: 67px;
	background: url(../img/nav_top.png);
	padding: 4px;
	width: 350px;
}

/* Top nav bar */

#nav {
	position: absolute;
	right: 0;
	top: 0;
	background: url(../img/nav_top.png);
	float: left;
}

#nav-main {
	color: #FFFFFF;
}

#nav ul {
	text-decoration: none;
	margin: 0px 0px 1px 0px !important;
	float: left;
}

#nav li {
	display: inline;
	float: left;
	color: white;
}

#nav li a {
	display: block;
	float: left;
	padding: 6px 10px;
	color: #FFFFFF;
}

#nav li a:hover {
	background: #0022A8;
}

#nav-container {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* Bottom nav bar */

#nav_bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 1.15em;
	display: inline;
	background: url(../img/bottom_nav_line.gif) no-repeat left;
}

#nav_bottom ul {
	margin: 0 0 0px 0px !important;
	width: 100%;
}

#nav_bottom li a {
	color: white;
	display: block;
	height: 28px;
	padding: 8px 18px 0;
}

#nav_bottom li {
	display: inline;
	float: left;
	background: url(../img/bottom_nav_line.gif) no-repeat right;
	padding-right: 2px;
}

#nav_bottom li a:hover {
	background: #0022A8;
}

/* Content */

.content {
	width: 929px;
	height: 100%;
	background-color: #fafafa;
	margin: 0 auto;
	box-shadow: 0 0 3px #999;
	position: relative;
	padding-top: 0px;
}

#wrapper {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}
.hero-unit-2 {
	padding: 10px;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	background-color: #eeeeee;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.well, well-small h4 {
	text-align: center;
}

/* Matches */
.matches_wrapper {
	float: left;
	width: 310px;
	overflow: hidden;
	position: relative;
}

.matches_inner_wrapper {
	color: #000000;
	font-size: 11px;
	font-weight: normal;
	padding: 1px 0 0 2px;
}

.matches_map {
	width: 63px;
}

.matches_time {
	font-size: 15px;
}

.matches_team_names {
	font-size: 16px;
}

.recent-matches-responsive {
	float: right !important;
	margin-left: 10px;
}

.recent_matches_wrapper {
	font-size: 15px;
	float: left;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.span3 {
	width: 305px !important;
}

@media (max-width: 767px) {
	.recent-matches-responsive {
		width: 100% !important;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.span6 {
		width: 580px !important;
	}
}